<VirtualHost 127.0.0.1:{{ apache_port }}>

        DocumentRoot /var/www/html
        <Directory /var/www/html>
                AllowOverride none
        </Directory>

        <Location /{{ server_status }}>
            SetHandler server-status
        </Location>

</VirtualHost>
